body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 50%;
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  background-color: #f1f1f1;
  z-index: 1000;
}
.navbar a {
  float: left;

  text-align: center;
  color: aliceblue;
  background-image: none;
  font-size: 1.5rem;
  text-decoration: none;
  border: 2px solid rgb(26, 26, 26);
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
}

.dropdown {
  float: left;
}

.dropdown-content.show {
  display: block;
}

.dropdown .Depy {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;

  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #dddddd51;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active-link {
  color: red;
}
#Depy:hover {
  background-color: rgba(255, 255, 255, 0.275);
}
#Depy {
  font-family: 'Nasalization', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
  background-image: none;
  border: 2px solid rgb(26, 26, 26);
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
  outline: none;
  margin: 0;
  cursor: pointer;
  margin-right: 200px;

  text-align: center;
}

.home {
  font-family: 'Nasalization', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
  background-image: none;
  border: 2px solid rgb(26, 26, 26);
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
  outline: none;

  cursor: pointer;

  text-align: center;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar #Depy {
    margin-bottom: 10px;
  }
  /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    /box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    top: 60px;
  } */
  .dropdown-content {
    display: none;

    position: absolute;
    background-color: #f9f9f9;
    width: 100%; /* Set the width to 100% for full page width */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    top: 50px; /* Adjust the top position as needed */
  }

  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}
/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 50%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 1000;
}

.navbar a {
  float: left;
  text-align: center;
  color: aliceblue;
  font-size: 1.5rem;
  text-decoration: none;
  border: 2px solid rgb(26, 26, 26);
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
}

.dropdown {
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #dddddd51;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#Depy:hover {
  background-color: rgba(255, 255, 255, 0.275);
}

#Depy {
  font-family: 'Nasalization', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
  border: 2px solid rgb(26, 26, 26);
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
  outline: none;
  cursor: pointer;
  margin-right: 200px;
  text-align: center;
}

.home {
  font-family: 'Nasalization', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
  border: 2px solid rgb(26, 26, 26);
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
  outline: none;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar #Depy {
    margin-bottom: 250px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%; /
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    top: 60px; 
  }

  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
} */
