* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../src/images/nightSky.gif);
}

html {
  height: -webkit-fill-available;
}

body {
  height: -webkit-fill-available;
}

.cardHeaderFrontParticles {
  text-align: center;
  margin: 4rem 0 2rem 0;
  color: aliceblue;
  font-family: 'Nasalization', sans-serif;
  font-size: 6rem;
}

.cardImageFrontParticles {
  display: flex;
  padding-bottom: 3rem;
  margin-top: 5rem;
  width: 100%;
  height: 700px;
}

.cardHeaderBackParticles {
  text-align: center;
  margin: 4rem 0 2rem 0;
  color: aliceblue;
  font-family: 'Nasalization', sans-serif;
  font-size: 6rem;
}

.cardNavParticles a {
  color: aliceblue;
  background-image: none;
  font-size: 1.5rem;
  text-decoration: none;
  border: 2px solid rgb(26, 26, 26);
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
}

.navUlParticles {
  display: flex;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.navLiParticles {
  font-family: 'Nasalization', sans-serif;
}

.cardImageBackParticles {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 840px;
  height: 560px;
}

.cardSectionParticles {
  display: flex;
  flex-direction: column;
  font-family: 'a•space', sans-serif;
}

.cardTitlesParticles {
  background-image: none;
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(26, 26, 26);
  border-radius: 5px;
  color: white;
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 45%;
}

.cardTextParticles {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-image: none;
  background-color: rgb(17, 16, 16);
  padding: 2rem 1rem 1rem 1rem;
  width: 45%;
  text-align: justify;
  font-family: 'Rimouski', sans-serif;
  height: 300px;
  overflow: auto;
}

.spanParticles {
  color: burlywood;
  background-color: burlywood;
  text-shadow: burlywood;
}

.card-container {
  perspective: 1000px;

  transform-style: preserve-3d;
  transition: transform 4s;
  cursor: pointer;
}

.card-container.flipped {
  transform: rotateY(160deg);
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.cardFront {
  transform: rotateY(0);
}

.cardBack {
  transform: rotateY(180deg);
}
@media (max-width: 780px) {
  .navUlParticles {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
  }
  .navLiParticles {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 780px) {
  .navUlParticles {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
  }

  .navLiParticles {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
  }

  .cardHeaderFrontParticles {
    margin-top: 25%;
    font-size: 55px;
  }
  .cardHeaderBackParticles {
    margin-top: 25%;
    font-size: 55px;
  }
}

@media (max-width: 484px) {
  .cardHeaderFrontParticles {
    margin-top: 30%;
    font-size: 55px;
  }

  .navUlParticles {
    display: flex;
    list-style-type: none;
    flex-direction: column;
  }

  .navLiParticles {
    margin: 0;
  }
}
