* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../src/images/nightSky.gif);
}

html {
  height: -webkit-fill-available;
}

body {
  height: -webkit-fill-available;
}

.cardHeaderFrontOtherGalaxies {
  text-align: center;
  margin: 4rem 0 2rem 0;
  color: aliceblue;
  font-family: 'Nasalization', sans-serif;
  font-size: 6rem;
}

.cardImageFrontOtherGalaxies {
  display: flex;
  padding-bottom: 3rem;
  margin-top: 5rem;
  width: 100%;
  height: 700px;
}

.cardHeaderBackOtherGalaxies {
  text-align: center;
  margin: 4rem 0 2rem 0;
  color: aliceblue;
  font-family: 'Nasalization', sans-serif;
  font-size: 6rem;
}

.cardNavOtherGalaxies a {
  color: aliceblue;
  background-image: none;
  font-size: 1.5rem;
  text-decoration: none;
  border: 2px solid rgb(26, 26, 26);
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
}

.navUlOtherGalaxies {
  display: flex;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.navLiOtherGalaxies {
  font-family: 'Nasalization', sans-serif;
}

.firstNavLiOtherGalaxies {
  margin-left: 230px;
}

.thirdNavLiOtherGalaxies {
  margin-right: 230px;
}

.cardImageBackOtherGalaxies {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 840px;
  height: 560px;
}

.cardSectionOtherGalaxies {
  display: flex;
  flex-direction: column;
  font-family: 'a•space', sans-serif;
}

.cardTitlesOtherGalaxies {
  background-image: none;
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(26, 26, 26);
  border-radius: 5px;
  color: white;
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 45%;
}

.cardTextOtherGalaxies {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-image: none;
  background-color: rgb(17, 16, 16);
  padding: 2rem 1rem 1rem 1rem;
  width: 45%;
  text-align: justify;
  font-family: 'Rimouski', sans-serif;
  height: 230px;
  overflow: auto;
}

.spanOtherGalaxies {
  color: rgb(30, 215, 184);
  background-color: rgb(30, 215, 184);
  text-shadow: rgb(30, 215, 184);
}

.card-container {
  perspective: 1000px;

  transform-style: preserve-3d;
  transition: transform 4s;
  cursor: pointer;
}

.card-container.flipped {
  transform: rotateY(160deg);
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.cardFront {
  transform: rotateY(0);
}

.cardBack {
  transform: rotateY(180deg);
}
